@{
    ViewData["Title"] = "Especificaciones de autorización";
}
<h2>@ViewData["Title"].</h2>

<h4>Página de requerimientos</h4>
<p>Para ver esta página, es necesario ser <strong>mayor de 18 años</strong>.</p>

<hr />

<h4>Sección de productos</h4>
<p>Para acceder a la sección de productos se ha de pertenecer al <strong>departamento de ventas</strong>.</p>

<hr />

<h4>Edición de productos</h4>
<p>
    Los productos normales pueden ser editados por todos los usuarios del departamento de ventas,
    pero los <strong>productos especiales sólo pueden ser editados por los seniors</strong>.
</p>

<hr />

<h4>Descuentos</h4>
<p>Sólo los usuarios <strong>senior</strong> pueden ofrecer descuentos en los <strong>productos especiales</strong>.</p>
<p>El <strong>resto</strong> de usuarios sólo puede ofrecer descuentos a <strong>productos normales</strong>.</p>
<p>La cantidad válida de descuent es <strong>variable</strong> y depende de un servicio externo. Hoy nos deja hacer descuentos de hasta 10€.</p>
